<!DOCTYPE HTML>
<html>
<head>
<% include ../partials/header %>
<title>微信红包充值</title>
</head>
<body>
  <section class="hp-top-box">
    <div>
      <p class="hp-header-title font-numlg cl-white">充值结果</p>
    </div>
  </section>
  <section class="container mt-30">
    <p class="text-center font-xlg cl-red mt-10 mb-10"><%= message %></p>
  </section>
</body>
</html>
