<div class="font-lg mt-10"><%= item.info %></div>
<div class="font-sm mt-5">
  <span class="cl-yellow"><%= item.createdAt %></span>
  <span class="cl-red" style="float:right"><%= item.cash / 100.0 %>元</span>
</div>
