<div id="toast" style="display: none;">
 <div class="weui_mask"></div>
 <div class="weui_toast">
     <i class="weui_icon_toast"></i>
     <p class="weui_toast_content" id="toastMessage">已完成</p>
 </div>
</div>

<script type="text/javascript">
  function showToast(toast, time, fn) {
    document.getElementById('toast').style.display = 'block';
    document.getElementById('toastMessage').innerHTML = toast;

    setTimeout(function(){
      document.getElementById('toast').style.display = 'none';
      fn();
    }, time * 1000);
  }
</script>
