<!DOCTYPE HTML>
<html>
<head>
<% include partials/header %>
<title>红包</title>
</head>
<body>
  <section class="container me-top-box text-center">
    <img src="/public/images/wallet-icon.png" >
    <p class="mt-10 cl-drak-grey font-xlg "><span class="font-md">余额</span>￥<%= user.availableMoney/100.0 %></p>
  </section>
  <section class="container mt-20 cl-drak-grey ">
    <div class="bg-white" style="padding: 10px 20px;">
      <div class="text-center font-lg cl-grey mb-20">创建的活动</div>
      <% events.forEach(function(item) { %>
        <% include partials/cash-flow %>
      <% }) %>
    </div>
  </section>
  <% include partials/footer %>

  <div class="nav">
    <div class="rp-bottom-btns">
      <a class="rp-bottom-btn rp-bottom-left-btn" href="/all-events">全部活动</a>
      <a class="rp-bottom-btn rp-bottom-right-btn" href="/user/me">我的账户</a>
    </div>
  </div>
</body>
<script src="/public/js/zepto.min.js"></script>
<% include partials/register-wechat-api %>
<% include partials/hide-wechat-menu %>
</html>
