<!DOCTYPE HTML>
<html>
<head>
<% include partials/header %>
<title>红包</title>
</head>
<body>
  <section>
    <div class="container">
      <img style="width:160px; text-align:center; display:block; margin: 60px auto 30px;" src="/public/images/removed-event-icon.png">
      <div class="text-center font-lg cl-grey">内容已被删除</div>
    </div>
  </section>

  <div class="nav">
    <a class="crp-bottom-btn"  href="/user/me">我的账户</a>
  </div>
</body>
<script src="/public/js/zepto.min.js"></script>
<% include partials/register-wechat-api %>
<% include partials/hide-wechat-menu %>
</html>
