<!DOCTYPE HTML>
<html>
<head>
<% include partials/header %>
<title>红包</title>
</head>
<body>
  <section class="container mt-10 mb-60">
    <% events.forEach(function(event) { %>
      <% include partials/event-card %>
    <% }) %>
  </section>

  <div class="nav">
    <div class="weui_btn_area mb-10">
      <a class="weui_btn weui_btn_primary submit-btn" href="/rp/create">发布活动</a>
    </div>
  </div>
</body>
<script src="/public/js/zepto.min.js"></script>
<% include partials/register-wechat-api %>
<% include partials/hide-wechat-menu %>
</html>
