<!DOCTYPE HTML>
<html>
<head>
<% include partials/header %>
<title>红包</title>
</head>
<body>
  <section class="container mt-10">
    <% if(events.length == 0) { %>
      <div class="font-md cl-grey text-center mt-50">还未创建过活动</div>
    <% } %>

    <div id="events-container">
      <% var admin = true; %>
      <% events.forEach(function(event) { %>
        <% include partials/event-card %>
      <% }) %>
    </div>
    <div class="text-center font-md cl-grey" id="load-more-btn" style="display:<%= events.length >= 2 ? 'block' : 'none' %>">加载更多</div>
  

    <div id="actionSheet_wrap">
       <div class="weui_mask_transition" id="mask"></div>
       <div class="weui_actionsheet" id="weui_actionsheet">
           <div class="weui_actionsheet_menu">
               <div class="weui_actionsheet_cell" id="preview-event-btn">查看活动</div>
                <div class="weui_actionsheet_cell" id="update-event-btn">发布活动</div>
               <div class="weui_actionsheet_cell" id="close-event-btn">下架活动</div>
               <div class="weui_actionsheet_cell" id="delete-event-btn">删除活动</div>
           </div>
           <div class="weui_actionsheet_action">
               <div class="weui_actionsheet_cell" id="actionsheet_cancel">取消</div>
           </div>
       </div>
    </div>
  </section>

  <% include partials/footer %>
  <div class="nav">
    <div class="rp-bottom-btns">
      <a class="rp-bottom-btn rp-bottom-left-btn" href="/rp/create">创建活动</a>
      <a class="rp-bottom-btn rp-bottom-right-btn" href="/user/company">企业账户</a>
    </div>
  </div>
</body>
<script src="/public/js/zepto.min.js"></script>
<% include partials/register-wechat-api %>
<% include partials/hide-wechat-menu %>
<script src="/public/js/user-event.js"></script>
</html>
